*{
        font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
/*    font-family: 'Roboto', sans-serif;*/
    background-color: #f5f7fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 95%;
    text-align: center;
}

h1 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #007bff;
}

.form-group {
    margin-bottom: 5px;
    text-align: left;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #555;
}


select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
/*    margin-bottom: 20px;*/
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    transition: border-color 0.3s;
}

select:focus {
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.progress-bar {
    background-color: #f5f7fa;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 25px;
    height: 35px;
    position: relative;
}

.progress-bar div {
    height: 100%;
    background-color: #007bff;
    width: 0;
    transition: width 0.5s;
}

#progressText {
    margin-top: 15px;
    font-weight: 600;
}

.key-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.key-item input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 12px;
}

.copyKeyBtn {
    background-color: #28a745;
    border: none;
    padding: 12px 20px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copyKeyBtn:hover {
    background-color: #218838;
}

.footer {
    margin-top: 25px;
    font-size: 14px;
    color: #777;
}
#sourceCode{
    margin-top: 0;
}

#copyStatus {
    margin-top: 15px;
    color: green;
}

#increment,
#decrement{
    background-color: #0056b3;
}

    
#keyCountGroup .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#keyCountGroup .input-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
/*    padding: 8px 15px;*/
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
}

#keyCountGroup .input-group input {
    width: 65px;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 2.5px;
    text-align: center;
}


.key-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.key-item input {
    border: none;
    background: transparent;
    font-size: 14px;
    width: 70%;

}

.key-item .copyKeyBtn {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}

